# Node build artifacts
node_modules/
npm-debug.log

# Local development
archive/
web/
config/sequelize/seeders
hostfiles/
uploads/
dashboard/index-dev.js
demoData.js
app-dev.js
*.zip
*.env
*.dev

.DS_Store

coverage
bash.exe.stackdump
.nyc_output
