:root {
  --theme-bg: #441122;
  --theme-bg: #051819;
  /* --theme-bg-2: #1d446d; */
  --theme-bg-2: #7e6d42;
  --theme-bg-3: #5c4e35 ;
  --theme-color: #fffff0;
  /* --theme-color-2: #c0c0c0; */
  /* --theme-color-2: #979797; */
  /* --theme-color-2: #c7c7c7;
  --theme-color-2: #d2d0c1; */
  --theme-color-2: #e6e6e6;
  --theme-color-3: #bababa;
  --theme-color-muted: #000000c9;
  --body-bg: #ebebeb;
  /* --body-color: #052a43; */
  /* --body-color: #081a2d; */
  --body-color: #052a43;
  /* --hero-bg: #021431;   */
  /* --hero-bg: #441122; */
  --hero-bg: #051819;
  /* --grid-color-1: #e6e6e6;
  --grid-color-2: #e0e0e0; */
  --grid-color-1: #cecece;
  --grid-color-2: #dddddd;
  --dot-color-1: #ababab;
}

/* box-shadow: 0 0 40px rgba(0,0,0,.2); */

body {
  font-family: Roboto, sans-serif;
  font-family: Geomanist,Helvetica,sans-serif;
  /* font-family: monospace; */
  /* background-image: url("/assets/images/block-demo2.svg");
  background-color: #081A2D;
  background-color: #2c3539;
  /* background-color: #43464b; */
  background-color: #f1f1f1;
  /* background-color: #fffff0; */
  /* background-color: #e1e1d2; */
  color: #100404;
  color: #081a2d;
  font-size: 16px;
  /* font-size: 18px; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */
  /* background-color: #26384b;
  background-color: #081A2D;
  background-color: #2c3539;
  /* background-color: #43464b; */ */
}

.container {
  max-width: 1300px;
}

/* section {
  padding: 1em 0;
} */

/* Header styles*/

.site-header{
  /* height: 20%;
  height: 150px;
  max-height: 150px;
  background-color: #26384b;
  background-color: #26384bbf;
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid #333333;
  border: 1px solid #B4B5C3;
  background-image: linear-gradient(#D2D3E1, #B4B5C3);
  box-shadow: 25px 25px 45px -22px rgba(0,0,0,.2);
  background-image: linear-gradient(#ffffff, #e1e1e1);
  background-image: linear-gradient( #e1e1e1, #ffffff);
  border: 1px solid #e1e1e1;
  border: 1px solid #fff; */
  background-color: #fffff0;
  color: #081A2D;
  background-color: #081A2D;
  color: #fff;
  min-height: 75px;
  padding: 0.5em;
  /* border-bottom: 1px solid #e6e6e6;
  background-image: linear-gradient(#ffffff, #e6e6e6);
  border: 1px solid #e1e1d2;
  background-image: linear-gradient(#fffff0, #e1e1d2);
  border: 1px solid #F5F5E6;
  background-image: linear-gradient(#fffff0, #F5F5E6); */
  box-shadow: 0px 5px 8px #8888;
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,.3);
  box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
  /* box-shadow: 0 0.125em 0.25em rgba(230,230,230,.3); */
}

.header-link {
  /* color: #100404; */
  /* color: #081a2d; */
  color: #fff;
  /* font-size: 1.3em; */
  margin-right: 1em;
  /* font-size: large; */
  /* font-weight: bold; */
}

.header-link:hover {
  color: #900104;
  color: #720104;
  /* background-color: #26384bdf; */
  /* box-shadow: inset 0 1px #36384B; */
  /* border-radius: 0.5em;
  border-radius: 4px; */
  /* border-bottom: 2px solid #36384B; */
  /* background-image: none; */
  /* background-image: linear-gradient(#26384b,#081A2D); */
}

.header-link:after {
  transform: translateY(-150%);
  opacity: 0;
  display: block;
  width: 100%;
  height: 1px;
  /* position: absolute;
  right: 0;
  left: 0; */
  transition: transform .15s ease-in-out,opacity .15s ease-in-out;
  background-color: #720104;
  content: "";
}

.header-link:hover:after {
  transform: translateY(0);
  opacity: 1;
}

/* .navbar-nav {
  align-items: center;
} */

/* .mobile-nav .navbar-collapse {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 7em;
  padding: 7em 2em;
  top: 0;
  left: 0;
  background-color: rgb(192, 192, 192);
  opacity: 0.95;
  transition: all 0.3s ease 0s;
  z-index: -1;
} */

/* .show {
  transition: all 0.3s ease 0s;
} */

/* .navbar .nav-item {
  margin: 0 1em;
} */

.logo {
  /* font-size: 2em; */
  width: 48px;
  height: 48px;
}

/* #header-img {
  max-width: 100%;
} */

.content-wrapper {
  /* min-height: calc(100vh - 75px); */
  min-height: 100vh;
  /* padding: 1em; */
  /* padding-top: 150px; */
  padding-top: 75px;
  /* padding-top: 82px; */
}

/* Sidebar styles */

.offcanvas {
  /* background-color: var(--theme-bg);
  color: var(--theme-color); */
  /* width: 100%; */
  /* padding: 1em; */
  /* height: 100vh; */
  /* color: #fffff0; */
  color: var(--theme-color);
  background: rgba(0, 0 , 0, .5);
  backdrop-filter: blur(10px);
  transition: transform .2s cubic-bezier(.4,0,.2,1);
}

.offcanvas-title {
  font-size: 1.5em;
}

.sidebar-link {
  font-size: 1.5em;
  line-height: 2;
}

.dashboard {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  background-color: #081a2d;
  background-color: #2c3539;
  /* background-color: #43464b; */
  /* background-color: #720104; */
  color: wheat;
  padding: 0.7em;
  z-index: 100;
  /* background-color: rgb(30 5 5); */
  /* padding-bottom: 1em;
  padding-top: 1em; */
  /* transition: width 0.2s ease 0.1s; */
  /* transition: all 0.2s ease 0.1s; */
}

.dashboard-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard .nav-link {
  color: wheat;
  transition: transform 0.2s;
}

.dashboard .btn:hover {
  transform: translatex(1em);
  transition: all .2s;
}

/* .dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} */

.site-main {
  font-family: "freight-sans-pro", sans-serif;
  padding-bottom: 1em;
  /* box-shadow: inset 0px 0px 4px 2px #a7a6a6aa;
  box-shadow: 0px 0px 4px 2px #a7a6a6aa; */
}

.site-main .title {
  /* color: #5B1D28; */
  /* color: #081a2d; */
  text-transform: uppercase;
  text-transform: capitalize;
  text-align: center;
}

.site-footer {
  color: #fffff0;
  background-color: #26384b;
  background-color: #081A2D;
  background-color: #2c3539;
  /* background-color: #43464b; */
  padding: 1em;
}

.link,
.site-footer .nav-link {
  color: #c0c0c0;
  /* padding-left: 0; */
  text-decoration: none;
  transition: transform 0.3s, color 0.4s;
}

.footer-deco {
  height: 100px;
  background-color: #081A2D;
  background-color: #2c3539;
  /* background-color: #43464b; */
  /* border-radius: 20% 20% 0px 0px; */
}

.footer-deco-inner {
  height: 90%;
  background-color: #f1f1f1;
  transform: rotateX(180deg);
  border-radius: 50% 50% 0px 0px;
}

.dashboard .nav-link:hover,
.site-footer .nav-link:hover {
  color: #fffff0;
  /* text-decoration: none; */
  transform: translate(5px);
}

.link:hover {
  color: #fffff0;
}

.link-icon {
  /* padding: 1em; */
  margin-right: 1.5rem;
}

.title {
  font-family: K2D, Helvetica, verdana, sans-serif;
  /* font-family: Roboto, verdana, tahoma, sans-serif; */
  margin-bottom: 0.8em;
  /* padding: 1rem; */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.sub-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  /* color: #081f2c; */
  /* padding: 0;
  line-height: 1; */
  background-color: transparent;
  color: #32c5ff;
  text-shadow: 0px 2px 7px #B7B9BC;
}

.hero {
  background-image: url("/assets/images/pattern.jpg");
  background-color: #081A2D;
  background-color: #2c3539;
  background-color: #07060c;
  /* background-color: #43464b; */
  color: #fffff0;
  /* background-color: #c2c2c2; */
  min-height: 400px;
  /* border-radius: 0px 3em 3em 0px; */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}


/* Common style */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* general Styles */

.btn {
  color: inherit;
  /* font-size: 1.3em; */
  /* text-transform: capitalize; */
  transition: background 0.25s;
}

.btn-main {
  color: #fffff0;
  /* background-color: #26384b; */
  background-color: #081A2D;
  background-color: #2c3539;
  /* background-color: #43464b; */
  background-image: linear-gradient(#26384b,#081A2D);
  border: 1px solid #081a2d;
  margin: 0.4rem;
  /* box-shadow: inset 0 1px #36384B; */
  /* border: 1px solid #1E0505;
  background-image: linear-gradient(#3C2323,#1E0505); */
}

.btn-cta {
  color: #fffff0;
  /* background-color: #900104; */
  background-color: #720104;
  background-image: linear-gradient(#900104,#720104);
  border: 1px solid #720104;
  /* box-shadow: inset 0 1px #994242; */
}

/* .btn:hover {
  background-image: none;
} */

.btn-main:hover {
  color: #fffff0;
  background-color: #900104;
  background-image: linear-gradient(#900104,#720104);
  border: 1px solid #720104;
  /* background-image: none; */
}

.btn-cta:hover {
  color: #fffff0;
  background-color: #26384b;
  background-image: linear-gradient(#26384b,#081A2D);
  border: 1px solid #081a2d;
  /* background-image: none; */
}

/* .btn:focus,
.btn:active {
  box-shadow: 0px 0px 5px 3px rgb(13 95 162);
  box-shadow: 0px 0px 0.2em 0.2em rgb(13 95 162);
} */

/* .btn-sm {
  font-size: 1.6em;
  padding: 0 0.1em;
  padding: 0.5em;
  padding: 0.2em;
} */

/* .primary-font {
  font-family: "freight-sans-pro", sans-serif;
}

.secondary-font {
  font-family: "minion-pro", serif;
} */

.card {
  max-width: 400px;
  /* background-color: inherit; */
  /* background-color: #ffffff;
  background-color: #fffff0; */
  /* text-align: center; */
  /* box-shadow: 0px 3px 6px #888; */
  /* box-shadow: 0 2px 24px 0 rgba(0,0,0,0.1); */
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  /* box-shadow: 0 15px 80px rgba(0, 0, 0, 0.14); */
  /* width: 100%;
  max-width: 300px; */
  /* margin: 1em 0; */
  /* transition: all 0.4s; */
  margin: auto;
  transition: box-shadow 0.4s;
}

.card {
  /* padding: 1em; */
  max-width: 400px;
  margin: auto;
  /* padding: .5em; */
  /* box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);  */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  /* transition: .4s ease-in-out; */
  transition: box-shadow 0.5s;
}

/* .card:before {
  content: "";
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 12px;
} */

.card:hover {
  /* box-shadow: 0 2px 20px rgba(3,27,78,0.3); */
  /* box-shadow: 0 0 40px rgba(0,0,0,.2); */
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 0px 7px 4px #ababab;
}

/* .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
} */

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

/* a {
  color: #5B1D28;
  color: #900104;
  color: #720104;
}

a:hover {
  color: #26384b;
} */

/* svg {
  width: 1.5em;
  height: 1.5em;
} */

.nav-link {
  text-transform: capitalize;
}

.grid-bg {
  background-image:
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(var(--grid-color-2) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-2) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}

.grid-md-bg {
  background-image:
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px);

  background-size: 25px 25px, 25px 25px;
  background-position: -1px -1px, -1px -1px;
}

.grid-sm-bg {
  background-image:
  linear-gradient(#144364 1px, transparent 1px),
  linear-gradient(90deg,#144364 1px, transparent 1px),
  linear-gradient(#052a43 1px, transparent 1px),
  linear-gradient(90deg,#052a43 1px, transparent 1px),
  linear-gradient(#0b3653 1px, transparent 1px),
  linear-gradient(90deg,#0b3653 1px, transparent 1px);

  background-size: 100px 100px,100px 100px,5px 5px,5px 5px,20px 20px,20px 20px;
  background-position: -1px -1px,-1px -1px,0 0,0 0,-1px -1px,-1px -1px;
}

.grid-dot-bg {
  background-image:
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  radial-gradient(circle, var(--grid-color-2) 1px, rgba(0,0,0,0) 1px);
  background-size: 30px 30px, 30px 30px, 5px 5px;
  background-position: -1px -1px, -1px -1px;
}

.dot-grid-bg {
  background-image:
  linear-gradient(var(--grid-color-1) 1px, transparent 1px),
  linear-gradient(90deg, var(--grid-color-1) 1px, transparent 1px),
  radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);

  background-size: 30px 30px, 30px 30px, 30px 30px;
  background-position: -1px -1px, -1px -1px;
}

.dot-bg {
  background-image: radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);
  background-size: 30px 30px;
}

.dot-sm-bg {
  background-image: radial-gradient(circle, var(--dot-color-1) 1px, rgba(0,0,0,0) 1px);
  background-size: 5px 5px;
}

.deco-svg {
  fill: var(--theme-bg);
  /* width: 100%;
  height: 100%; */
  transform: translateY(1px);
}

.deco-frame {
  /* border: 0.8rem solid #430a0a; */
  border: 0.8rem ridge #311309;
  border: 0.8rem ridge var(--theme-bg-2);
}

.deco-frame {
  /* border: 0.8rem solid #430a0a; */
  /* border: 0.8rem ridge #311309; */
  /* border: 0.8rem solid #7a7f80;
  border: 0.8rem solid #a5a2a0; */
  border: 0.8rem solid #43464b;
  /* border: 0.8rem solid #001c4f; */
  border: 0.8rem solid #2c3539;
  /* border: 0.8rem solid #71797e; */
  /* border: 0.8rem solid #c19a6b; */
  border-style: ridge;
}

.deco-screen-light {
  box-shadow: 3px 3px 6px #0c0402;
  box-shadow: 0px 0px 5px 0px #0c0402;
  border-radius: 5px;
  padding: 1.5em;
  backdrop-filter: blur(2em);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, .15);
  background: hsla(0,0%,100%,0.8);
  text-shadow: 1px 2px 4px rgba(0,0,0,.4);
  /* margin: 40px auto 50px; */
}

.deco-screen-dark {
  box-shadow: 3px 3px 6px #0c0402;
  box-shadow: 0px 0px 5px 0px #0c0402;
  border-radius: 5px;
  padding: 1.5em;
  text-shadow: 0px 2px 6px black;
  text-shadow: 1px 2px 4px rgba(0,0,0,.4);
  backdrop-filter: blur(1em);
  background: rgba(0, 0 , 0, .5);
  /* margin: 40px auto 50px; */
}


/*
@media (max-width: 575.98px) {
  .content-wrapper {
    margin: 0;
    padding: 0;
  }

  .content-wrapper {
    padding-top: 150px;
  }

  .dashboard {
    left: -1000px;
  }

  .show {
    left: 0 !important;
  }

  .nav-link {
    padding: 0.5em;
  }
} */

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .dashboard {
    border-right: 1px dotted #f1f1f1;
    border-top: 1px dotted #f1f1f1;
  }

  .content-wrapper {
    padding-top: 90px;
  }
}

/* @media (max-width: 767.98px) {

} */

/* @media (min-width: 576px) {
  header {
    height: 20%;
    height: 105px;
    color: white;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,.9);
  }

  .navbar {
    padding: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .content-wrapper {
    padding-top: 105px;
  }

  #dashboard {
    position: fixed;
    height: 100vh;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: #a42100;
    background-color: #100;
    background-color: #100404;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #e0e0ff;
  }

} */



/*
h1 {
  font-size: 52px;
  line-height: 58px;
}

h2 {
  font-size: 48px;
  line-height: 54px;
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 28px;
  line-height: 32px;
} */

/* .form-control {
  min-height: 40px;
  border: none;
} */
