.col
  //- div(class="card animate__animated animate__slideInUp animate__delay-2s animate__slower")
  div(class="card")
    img(src= estate.poster class="card-img-top" alt="")
    div(class="card-body")
      h5(class="card-title title")= estate.title
      p(class="card-text")= estate.description
    div(class="card-footer")
      button(id="view-btn" class="btn") View
