/* box-shadow: 0 0 40px rgba(0,0,0,.2); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-family: Geomanist,Helvetica,sans-serif;
  /* font-family: monospace; */
  background-color: #f1f1f1;
  /* background-color: #fffff0; */
  /* background-color: #e1e1d2; */
  color: #100404;
  color: #081a2d;
  font-size: 16px;
  /* font-size: 18px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1300px;
}

/* Header styles*/

.navbar {
  /* height: 20%;
  height: 150px;
  max-height: 150px;
  background-color: #26384b;
  background-color: #26384bbf;
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid #333333;
  border: 1px solid #B4B5C3;
  background-image: linear-gradient(#D2D3E1, #B4B5C3);
  box-shadow: 25px 25px 45px -22px rgba(0,0,0,.2);
  background-image: linear-gradient(#ffffff, #e1e1e1);
  background-image: linear-gradient( #e1e1e1, #ffffff);
  border: 1px solid #e1e1e1;
  border: 1px solid #fff; */
  background-color: #fffff0;
  min-height: 75px;
  padding: 0.5em;
  border-bottom: 1px solid #e6e6e6;
  background-image: linear-gradient(#ffffff, #e6e6e6);
  border: 1px solid #e1e1d2;
  background-image: linear-gradient(#fffff0, #e1e1d2);
  border: 1px solid #F5F5E6;
  background-image: linear-gradient(#fffff0, #F5F5E6);
  box-shadow: 0px 5px 8px #8888;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.3);
  /* box-shadow: 0 0.125rem 0.25rem rgba(230,230,230,.3); */
}

.navbar .nav-link:not(.btn) {
  /* color: #100404; */
  color: #081a2d;
  font-size: 1.3rem;
  /* font-size: large; */
  /* font-weight: bold; */
}

.navbar .nav-link:not(.btn):hover {
  color: #900104;
  color: #720104;
  /* background-color: #26384bdf; */
  /* box-shadow: inset 0 1px #36384B; */
  /* border-radius: 0.5em;
  border-radius: 4px; */
  /* border-bottom: 2px solid #36384B; */
  /* background-image: none; */
  /* background-image: linear-gradient(#26384b,#081A2D); */
}

.navbar .btn {
  /* margin: 0 0.4rem; */
  padding: 0.5rem;
}

.navbar-nav {
  align-items: center;
}

/* .nav-item {
  margin: 0 5px;
  align-self: center;
  text-transform: capitalize;
} */

.logo {
  /* font-size: 2em; */
  width: 48px;
  height: 48px;
}

/* #header-img {
  max-width: 100%;
} */

.content-wrapper {
  /* min-height: calc(100vh - 75px); */
  min-height: 100vh;
  /* padding: 1em; */
  /* padding-top: 150px; */
  padding-top: 75px;
  padding-top: 82px;
}

.dashboard {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  background-color: #081a2d;
  /* background-color: #720104; */
  color: wheat;
  padding: 0.7em;
  z-index: 100;
  /* background-color: rgb(30 5 5); */
  /* padding-bottom: 1em;
  padding-top: 1em; */
  /* transition: width 0.2s ease 0.1s; */
  /* transition: all 0.2s ease 0.1s; */
}

.dashboard-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard .nav-link {
  color: wheat;
  transition: transform 0.2s;
}

.dashboard .btn:hover {
  transform: translatex(1em);
  transition: all .2s;
}

/* .dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} */

.site-main {
  font-family: "freight-sans-pro", sans-serif;
  padding: 1em 0;
  /* box-shadow: inset 0px 0px 4px 2px #a7a6a6aa;
  box-shadow: 0px 0px 4px 2px #a7a6a6aa; */
}

.site-main .title {
  /* color: #5B1D28; */
  /* color: #081a2d; */
  text-transform: uppercase;
  text-transform: capitalize;
  text-align: center;
}

.site-footer {
  color: #fffff0;
  background-color: #26384b;
  background-color: #081A2D;
  padding: 1em;
}

.link,
.site-footer .nav-link {
  color: #c0c0c0;
  transition: transform 0.2s;
}

.dashboard .nav-link:hover,
.link:hover,
.site-footer .nav-link:hover {
  color: #fffff0;
  text-decoration: none;
  transform: translate(5px);
}

.copyright {
  /* background-color: #081A2D; */
  margin-top: 1em;
}

/* #search .input-group {
  width: 80%;
} */

/* .form-control {
  text-align: center;
} */



/* Common style */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* general Styles */

.btn {
  min-height: 40px;
  min-width: 40px;
  border-radius: 0.25rem;
  /* border-radius: 5px; */
  /* margin: 0 5px; */
  margin: 0.4em;
  text-transform: capitalize;
  text-decoration: none;
  transition: background 0.25s;
}

.btn-main {
  color: #fffff0;
  /* background-color: #26384b; */
  background-color: #081A2D;
  background-image: linear-gradient(#26384b,#081A2D);
  border: 1px solid #081a2d;
  /* box-shadow: inset 0 1px #36384B; */
  /* border: 1px solid #1E0505;
  background-image: linear-gradient(#3C2323,#1E0505); */
}

.btn-cta {
  color: #fffff0;
  /* background-color: #900104; */
  background-color: #720104;
  background-image: linear-gradient(#900104,#720104);
  border: 1px solid #720104;
  /* box-shadow: inset 0 1px #994242; */
}

/* .btn:hover {
  background-image: none;
} */

.btn-main:hover {
  color: #fffff0;
  background-color: #900104;
  background-image: linear-gradient(#900104,#720104);
  border: 1px solid #720104;
  /* background-image: none; */
}

.btn-cta:hover {
  color: #fffff0;
  background-color: #26384b;
  background-image: linear-gradient(#26384b,#081A2D);
  border: 1px solid #081a2d;
  /* background-image: none; */
}

/* .btn:focus,
.btn:active {
  box-shadow: 0px 0px 5px 3px rgb(13 95 162);
  box-shadow: 0px 0px 0.2rem 0.2rem rgb(13 95 162);
} */

/* .btn-sm {
  font-size: 1.6em;
  padding: 0 0.1rem;
  padding: 0.5rem;
  padding: 0.2rem;
} */

/* .primary-font {
  font-family: "freight-sans-pro", sans-serif;
}

.secondary-font {
  font-family: "minion-pro", serif;
} */

.card {
  /* background-color: inherit; */
  background-color: #ffffff;
  background-color: #fffff0;
  text-align: center;
  /* box-shadow: 0px 3px 6px #888;
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.1); */
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.3);
  /* box-shadow: 0 15px 80px rgba(0, 0, 0, 0.14); */
  /* width: 100%;
  max-width: 300px; */
  margin: 1em 0;
  /* transition: all 0.4s; */
  transition: all 0.1s;
}

.card:hover {
  /* box-shadow: 0 2px 20px rgba(3,27,78,0.3); */
  /* box-shadow: 0 0 40px rgba(0,0,0,.2); */
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.2);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.img-thumbnail {
  /* width: 100px; */
  max-width: 100%;
  margin: 0.5em 0;
}

/* a {
  color: #5B1D28;
  color: #900104;
  color: #720104;
}

a:hover {
  color: #26384b;
} */

svg {
  width: 1.5em;
  height: 1.5em;
}

.nav-link {
  text-transform: capitalize;
}

@media (max-width: 575.98px) {
  /* .content-wrapper {
    margin: 0;
    padding: 0;
  } */

  /* .content-wrapper {
    padding-top: 150px;
  } */

  /* .dashboard {
    left: -1000px;
  }

  .show {
    left: 0 !important;
  } */

  svg {
    width: 1.5em;
    height: 1.5em;
  }
/*
  .nav-link {
    padding: 0.5rem;
  } */
}

@media (min-width: 768px) {
  .dashboard {
    border-right: 1px dotted #f1f1f1;
    border-top: 1px dotted #f1f1f1;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .main-nav {
    display: none;
  }
}

/* @media (min-width: 576px) {
  header {
    height: 20%;
    height: 105px;
    color: white;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,.9);
  }

  .navbar {
    padding: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .content-wrapper {
    padding-top: 105px;
  }

  #dashboard {
    position: fixed;
    height: 100vh;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: #a42100;
    background-color: #100;
    background-color: #100404;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #e0e0ff;
  }

} */



/*
h1 {
  font-size: 52px;
  line-height: 58px;
}

h2 {
  font-size: 48px;
  line-height: 54px;
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 28px;
  line-height: 32px;
} */

/* .form-control {
  min-height: 40px;
  border: none;
} */
